* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .App{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
} */

li {
  list-style: none;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #222;
  overflow-y: auto;
}

