.Fields{
  #tf{
    background-color: #000;
    border: 1px solid #fff;
    border-radius: 5px;
    width: 340px;
    height: 50px;
    color: #fff;
  }
  ::placeholder{
    padding-left: 20px;
    color: white;

  }
}