

#footer {
  color: rgb(247, 247, 247);
  background-color: black;
}

#footer li {
  font-size: 1rem;
}


#footer-info > div {
  display: flex;
  margin: 0 10%;
  text-align: center;
}
#footer-info > div div {
  width: 100%;
  line-height: 2;
}


#footer h4{
  color: white
}

#footer-copy{
  padding-top: 20px;
}

#footer-copy ul {
  font-size: 0.7vw;
  display: flex;
  padding: 16px 0;
}
#footer-copy ul li {
  padding: 0 30px;
  line-height: 1;
  text-align: center;
}
#footer-copy ul li:not(:last-child) {
  border-right: 1px solid #ccc;
}

.copyright-inner{
  font-size: 0.6rem;
}

.econ{
  padding-left: 4.5rem;
}

.icon{
  display: flex;
  gap: 16px; // 그리드 아이템 간격 설정
}

.icon2{
  padding-top: 10px;
}

