.listbarmain{
  background: linear-gradient(90deg, rgb(201, 52, 221), rgb(0, 0, 0));
  width: drawerWidth;
  height: 80vh;
}

.listbody{
  background: linear-gradient(90deg, rgb(201, 52, 221), rgb(0, 0, 0));
}