
#loginMain{
  display: grid;
  grid-template-columns: 250px 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
  "Listb content content"
  "Listb content content"
  "Listb content content"
  "Audio Audio Audio";
  height: 100vh;
  
  #Listb{
    grid-area: Listb;
  }
  
  #loginMain-content{
    grid-area: content;
    background: black;
  }
  
  #Audio{
    grid-area: Audio;
  }
  
}