
*{
  margin: 0;
}

#fullpage-wrapper{
  position: relative;
  width: 100%;
  height: 100vh;
}


.headertxt {
  opacity: 1;
  transition: opacity 1s ease-out; /* 페이드 아웃 애니메이션을 위한 트랜지션 */
}

.headertxt.fade-out {
  opacity: 0;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background-color: #ffffff;
  color: #000000;
}

// .section:nth-child(odd) {
//   background-color: #e74c3c;
// }

.Money{
  display: block;
}

.Moneytoptxt{
  text-align: center;
  margin: 0;
}

.Moneytoptxt > h1{
  padding-top: 50px;
  font-size: 3rem;
}

.Moneytoptxt > h2{
  font-size: 1.5rem;
}

.Moneyset3{
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  overflow-wrap: break-word;
  overflow: auto;
  background: var(--background-base,inherit);
}

.user-text2{
  margin: 0px 16px 0px 0px;
  text-align: center;
  padding-left: 16px;
  padding-right: 16px
}

.money{
  display: grid;
  margin: 50px 0px 26px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  border: solid 0.5px black;
  border-radius: 10px;
  grid-auto-flow: column;
  -webkit-box-pack: center;
  justify-content: center;
}

.moneytop{
  padding: 10px 10px 0px 10px;
  grid-row: 1 / auto;
  height: 7.5rem;
  width: auto;
  position: relative;
  color: rgb(0, 0, 0);
}

.moneymid{
  grid-row: 2 / auto;
  padding-top: 20px;
  padding-bottom: 16px;
  list-style: none;
  padding-right: solid 1px black;
  // box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 8px;
  height: 12.5rem;
  margin: 0px;
}

.moneybottom{
  grid-row: 3 / auto;
  padding-bottom: 0px;
  text-align: center;
}

.moneybottoma{
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
  text-align: center;
  vertical-align: middle;
}

.moneybottomb{
  -webkit-box-pack: center;
  justify-content: center;
  text-decoration: none !important;
}

.moneybotton{
  display: block;
  position: absolute;
  pointer-events: none;
  transition: border-color 200ms ease-in 0s;
  box-sizing: border-box;
  inline-size: calc(100% + 12px);
  block-size: calc(100% + 12px);
  top: -6px;
  left: -6px;
  background: transparent;
  border-radius: 500px;
  border: 3px solid transparent;
}

.moneyfotter{
  grid-row: 4 / auto;
  padding-top: 4px;
  padding-bottom: 16px;
}

.moneyfottertxt{
  margin-top: 12px;
  color: rgb(83, 83, 83);
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  text-align: left;
  height: 2.5rem;
  width: 23.75rem;
}

