#fullpage-wrapper{
  position: relative;
  width: 100%;
  height: 100vh;
}

.txt{
  background-image: linear-gradient(45deg, #ff8ae6, #13e400);
  background-clip: text;
  color: transparent; /* 텍스트 컬러를 투명으로 설정 */
}

.headertxt {
  background-image: linear-gradient(45deg, #f83939, #00bfff);
  background-clip: text;
  color: transparent; /* 텍스트 컬러를 투명으로 설정 */
  text-align: center;
}

.headertxt.fade-out {
  transition: opacity 2s ease-in-out; /* opacity를 천천히 변경하도록 설정합니다. */
  opacity: 1;
}

.section {
  background: linear-gradient(to right, #90EE90, rgb(238, 197, 204));
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background-color: #ffffff;
  color: #000000;
}

// .section:nth-child(odd) {
//   background-color: #e74c3c;
// }

.Money{
  background: linear-gradient(to right, #90EE90, rgb(238, 197, 204));
  display: block;
  width: 100%;
  height: 80vh;
  text-align: center;
}

.Money2{
  background: linear-gradient(to right, #90EE90, rgb(238, 197, 204));
  display: block;
  width: 100%;
  height: 80vh;
  text-align: center;
  padding: 5vw 15vw;
}

.Moneytoptxt{
  background-image: linear-gradient(45deg, #f83939, #00bfff);
  background-clip: text;
  color: transparent; /* 텍스트 컬러를 투명으로 설정 */
  text-align: center;
  margin: 0;
}

.Moneytoptxt > h1{
  padding-top: 50px;
  font-size: 3rem;
}

.Moneytoptxt > h2{
  font-size: 1.5rem;
}

.Moneyset3{
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  overflow-wrap: break-word;
}

.user-text2{
  margin: 0px 16px 0px 0px;
  text-align: center;
  padding-left: 16px;
  padding-right: 16px
}

.money{
  display: grid;
  margin: 50px 0px 26px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  border: solid 2px rgb(233, 37, 223);
  border-radius: 10px;
  grid-auto-flow: column;
  -webkit-box-pack: center;
  justify-content: center;
}

.moneytop{
  padding: 10px 10px 0px 10px;
  grid-row: 1 / auto;
  height: 7.5rem;
  width: auto;
  position: relative;
  color: rgb(0, 0, 0);
}

.moneymid{
  grid-row: 2 / auto;
  padding-top: 20px;
  padding-bottom: 16px;
  list-style: none;
  padding-right: solid 2px rgb(233, 37, 223);
  // box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 8px;
  height: 12.5rem;
  margin: 0px;
}

.moneybottom{
  grid-row: 3 / auto;
  padding-bottom: 0px;
  text-align: center;
}

.moneybottoma{
  background-color: black;
  color: white;
  border: solid 2px rgb(233, 37, 223)(0, 0, 0, 0);
  border-radius: 20px;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
  text-align: center;
  vertical-align: middle;
  padding: 7px 20px;
}

.moneybottoma:hover{
  transition: background-color 1s;
  background-color: gray;
}

.moneyline{
  color: rgb(233, 37, 223);
}


.moneybotton{
  display: block;
  position: absolute;
  pointer-events: none;
  transition: border-color 200ms ease-in 0s;
  box-sizing: border-box;
  inline-size: calc(100% + 12px);
  block-size: calc(100% + 12px);
  top: -6px;
  left: -6px;
  background: transparent;
  border-radius: 500px;
  border: 3px solid transparent;
}

.moneyfotter{
  grid-row: 4 / auto;
  padding-top: 4px;
  padding-bottom: 16px;
}

.moneyfottertxt{
  margin-top: 30px;
  margin-left: 2vw;
  color: rgb(83, 83, 83);
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  text-align: left;
  height: 2.5rem;
  width: 23.75rem;
}

.main-page{
  background: linear-gradient(to right, #90EE90, rgb(238, 197, 204));
  display: block;
  width: 100%;
  height: 100vh;
  text-align: center;
  opacity: 1;
}

.main-page2 {
  background: linear-gradient(to right, #90EE90, rgb(238, 197, 204));
  width: 100%;
  height: 100vh;
  text-align: center;
  padding: 5vw 6vw;
}

.main-page3 {
  background: linear-gradient(to right, #90EE90, rgb(238, 197, 204));
  width: 100%;
  height: 200px;
  opacity: 0; /* 초기에 투명한 상태로 설정 */
  animation: fadeIn 2s ease-in forwards; /* 애니메이션 적용 */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


.section22-txt > h1{
  color: white;
}

.h1tag h1{
  text-align: center;
  font-size: 3rem;
}

.section1 {
  display: flex;
  gap: 80px;
  padding: 5vw 0;
  margin: 0px;
  list-style: none;
}

.section2{
  margin-bottom: 20px;
  display: block;
  width: 270px;
}

.sectionimg{
  background-image: url('../img/music/music.png');
  display: inline-block;
  background-position: center top;
  margin-right: 20px;
  -webkit-box-flex: 1;
  flex-grow: 1;
  width: 283px;
  height: 17.6rem;
}

.sectionimg2{
  background-image: url('../img/music/music2.png');
  display: inline-block;
  background-position: center top;
  margin-right: 20px;
  -webkit-box-flex: 1;
  flex-grow: 1;
  width: 283px;
  height: 17.6rem;
  
}

.sectionimg3{
  background-image: url('../img/music/music3.png');
  display: inline-block;
  background-position: center top;
  margin-right: 20px;
  -webkit-box-flex: 1;
  flex-grow: 1;
  width: 283px;
  height: 17.6rem;
}

.sectionimg4{
  background-image: url('../img/music/music4.png');
  background-size: cover;
  display: inline-block;
  background-position: center top;
  margin-right: 20px;
  -webkit-box-flex: 1;
  flex-grow: 1;
  width: 283px;
  height: 17.6rem;
}

.sectionp{
  display: inline-block;
  width: 100%;
  -webkit-box-flex: 1;
  flex-grow: 1;
  margin: 16px 0px;
  display: block;
  text-align: center;
}

.sectionp2{
  margin-bottom: 10px;
  font-size: 1.4rem;
  font-weight: 600;
  font-family: var(--font-family,CircularSp,CircularSp-Arab,CircularSp-Hebr,CircularSp-Cyrl,CircularSp-Grek,CircularSp-Deva,var(--fallback-fonts,sans-serif));
  color: inherit;
}

.txt h1{
  font-size: 6vh;
}


.section22 {
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  padding: 0;
}

.section22 span {
  display: block;
  transform: translateX(-400px);
  opacity: 0;
}
  
.cube {
  width: 200px;
  height: 200px;
  position: relative;
  transform-style: preserve-3d;
  margin: -20vw -35vw;
}
.cube1 h1{
  margin: 25vw -50vw 20vw;
}
.side {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: red;
  opacity: 0.6;
}
.side top {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: red;
  opacity: 0.6;
}

.front {
  transform: rotateY(0deg) translateZ(100px);
  background-color: #ee4444;
}
.right {
  transform: rotateY(90deg) translateZ(100px);
  background-color: #ffcc00;
}
.back {
  transform: rotateY(180deg) translateZ(100px);
  background-color: #ff0055;
}
.left {
  transform: rotateY(-90deg) translateZ(100px);
  background-color: #8855ff;
}
.top {
  transform: rotateX(90deg) translateZ(100px);
  background-color: #0099ff;
}
.bottom {
  transform: rotateX(90deg) translateZ(-100px);
  background-color: #0099ff;
}