#musicsC{
  width: 1000px;
  height: 900px;
  margin: auto;
  display: flex;
  #musics-grid{
    display: grid;
    grid-template-columns: repeat(4,  minmax(250px, auto));
    grid-template-rows: repeat(2,  minmax(250px, auto));
    row-gap: 30px;
    column-gap: 20px;
  }
  .musicImg{
    height: 250px;
    width: 250px;
  }
}

#musicsC{
  display: flex;
}

