.song-main{
    // padding-top: 5vw;
    padding: 5vw;
    justify-content: center;
    background-color: #000;
}

.song-details{
    // width: 800px;
    display: flex;
    color: #fff;
    background-color: #000;
    flex-direction: column;
    
    #detail-out{
        display: flex;
        img{
            height: 250px;
            width: 250px;
            // border: 1px solid #000;
        }
        #details-in{
            p{
                font-size: 20px;
            }
            width: 500px;
            height: 250px;
            margin-left: 50px;
        }   
    }
    #lyrics{
        
        border-top: 1px solid #000;
        p{
            font-size: 20px;
        }
    }
}