#mypageC {
#mp2 {
  color: black;
  font-weight: 700;
  font-size: 30px;
  float: left;
}
h3 {
  font-weight: 700;
  font-size: 50px;
  margin-left: 15px;
}
p {
  font-weight: 700;
  font-size: 20px;
  margin-left: 15px;
}

#icon1 {
  color: #000;
  float: left;
  margin-right: 10px;
}}