.App {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 200px;
  background-color: #333;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  position: relative;
  left: 0;
  top: 0; /* 상단에 고정 */
  bottom: 0; /* 하단까지 확장 */
}

.sidebar button {
  background: none;
  border: none;
  padding: 10px;
  font-size: 18px;
  color: white;
  cursor: pointer;
}

.sidebar button.active {
  background-color: #555;
}

.content {
  position: relative;
  margin-left: 200px;
  padding: 20px;
}

h2 {
  color: #333;
}
