.slider{
  width: 100%;
  height: 100vh;
  text-align: center;
  padding: 2vw 5vw;
  display: block;
}


.slider2{
  padding: 1vw 10vw;
}

.slider h1{
  text-align: center;
  font-size: 3rem;
}

.slider h2{
  text-align: center;
}

.phoneImage{
  width: 8vw;
}
