.sliders{
  background-color: black;
  width: 100%;
  height: 100vh;
  text-align: center;
  display: block;
}


.sliders2{
  padding: 3vw;
}

.sliders h1{
  padding-top: 50px;
  background-clip: text;
  color: white;
  font-size: 3rem;
}

.sliders h2{
  color: white;
  text-align: center;
}

.phoneImages{
  width: 20vw;
  height: 50vh;
  padding-left: 2vw;
  margin-bottom: 1vw;
}


.sliders  a{
  color: white;
  position: relative;
  left: 1rem;
  padding: 10px  5vw;
  border: solid 1px rgba(128, 128, 128, 0);
  border-radius: 40px;
  background-color: rgba(129, 119, 119, 0.856);
  bottom: 1rem;
}

.sliders  a:hover{
  color: rgb(0, 0, 0);
  background-color: rgba(245, 236, 236, 0.856);
}