.slider{
  width: 100%;
  height: 100vh;
  text-align: center;
  padding: 2vw 5vw;
  display: block;
}


.slider2{
  padding: 1vw 10vw;
}

.slider h1{
  background-image: linear-gradient(45deg, #f83939, #00bfff);
  background-clip: text;
  color: transparent; /* 텍스트 컬러를 투명으로 설정 */
  text-align: center;
  font-size: 3rem;
}

.slider h3{
  background-image: linear-gradient(45deg, #2bdba1, #03080a);
  background-clip: text;
  color: transparent; /* 텍스트 컬러를 투명으로 설정 */
  text-align: center;
}

.phoneImage{
  width: 8vw;
  height: 8vw;
}
